Repository oacore/design: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

add simple component, setup build system
  .babelrc
  package.json
  src/elements/button.jsx
  src/elements/index.js
  src/index.js
  yarn.lock
Due: yarn lint --format, prettier --write

Fix Husky & LintStaged configs
  .huskyrc
  .lintstagedrc
Due: none

Replace yarn with npm
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

Remove elements folder
  src/elements/button.jsx
  src/elements/index.js
  webpack.config.js
Due: yarn lint --format

Setup Github Actions
  .github/workflows/pull-request-check.yml
Due: none

Create icon component
  src/components/icon/Icon.md
  src/components/icon/assets/cite.svg
  src/components/icon/assets/core-symbol.svg
  src/components/icon/assets/download.svg
  src/components/icon/assets/left-arrow.svg
  src/components/icon/assets/outline.svg
  src/components/icon/assets/paper_info.svg
  src/components/icon/assets/print.svg
  src/components/icon/assets/right-arrow.svg
  src/components/icon/assets/rotate.svg
  src/components/icon/assets/share.svg
  src/components/icon/assets/thumbnails.svg
  src/components/icon/assets/zoom-in.svg
  src/components/icon/assets/zoom-out.svg
  src/components/icon/index.jsx
  src/components/icon/index.scss
  src/index.js
  src/index.jsx
Due: yarn lint --format, prettier --write

Setup auto doc generation
  docs/intro.md
  package-lock.json
  package.json
  styleguide.config.js
  webpack.config.js
Due: yarn lint --format, prettier --write

Add now config
  .gitignore
  now.json
  package.json
  src/components/icon/index.jsx
  styleguide.config.js
Due: yarn lint --format, prettier --write

Publish package
  .github/workflows/publish-package.yml
Due: none

Setup build system
  .babelrc
  package.json
  src/elements/button.jsx
  src/elements/index.js
  src/index.js
  yarn.lock
Due: yarn lint --format, prettier --write

Init environment
  .editorconfig
  .eslintrc.yml
  .gitignore
  .huskyrc
  .lintstagedrc
  .prettierrc.yml
  package.json
  src/index.js
  yarn.lock
Due: yarn lint --format, prettier --write

Replace Yarn with NPM
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

Remove `elements` directory
  src/elements/button.jsx
  src/elements/index.js
  webpack.config.js
Due: yarn lint --format

Setup GitHub Actions
  .github/workflows/pull-request-check.yml
Due: none

Create Icon component
  src/components/icon/Icon.md
  src/components/icon/assets/cite.svg
  src/components/icon/assets/core-symbol.svg
  src/components/icon/assets/download.svg
  src/components/icon/assets/left-arrow.svg
  src/components/icon/assets/outline.svg
  src/components/icon/assets/paper_info.svg
  src/components/icon/assets/print.svg
  src/components/icon/assets/right-arrow.svg
  src/components/icon/assets/rotate.svg
  src/components/icon/assets/share.svg
  src/components/icon/assets/thumbnails.svg
  src/components/icon/assets/zoom-in.svg
  src/components/icon/assets/zoom-out.svg
  src/components/icon/index.jsx
  src/components/icon/index.scss
  src/index.js
  src/index.jsx
Due: yarn lint --format, prettier --write

Setup auto documentation generation
  docs/intro.md
  package-lock.json
  package.json
  styleguide.config.js
  webpack.config.js
Due: yarn lint --format, prettier --write

Add Now config
  .gitignore
  now.json
  package.json
  src/components/icon/index.jsx
  styleguide.config.js
Due: yarn lint --format, prettier --write

Rename docs
  styleguide.config.js
Due: yarn lint --format

Switch to PostCSS
  package-lock.json
  package.json
  postcss.config.js
  src/components/icon/index.css
  src/components/icon/index.jsx
  webpack.config.js
Due: yarn lint --format, prettier --write

Use CSS Modules
  .babelrc
  .cssmodulesrc
  babel.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/components/icon/index.css
  src/components/icon/index.jsx
  src/components/icon/index.scss
Due: yarn lint --format, prettier --write

Add CSS index file
  src/index.css
Due: prettier --write

Build SVG files
  package.json
Due: prettier --write

Set assets directory for React Styleguide
  styleguide.config.js
Due: yarn lint --format

Simplify Icon component
  src/assets/icons/cite.svg
  src/assets/icons/core-symbol.svg
  src/assets/icons/download.svg
  src/assets/icons/left-arrow.svg
  src/assets/icons/outline.svg
  src/assets/icons/paper-info.svg
  src/assets/icons/print.svg
  src/assets/icons/right-arrow.svg
  src/assets/icons/rotate.svg
  src/assets/icons/share.svg
  src/assets/icons/thumbnails.svg
  src/assets/icons/zoom-in.svg
  src/assets/icons/zoom-out.svg
  src/components/icon/Icon.md
  src/components/icon/README.md
  src/components/icon/index.jsx
  yarn.lock
Due: yarn lint --format

Set SVG sprite building
  package-lock.json
  package.json
Due: prettier --write

Clean before build
  package.json
Due: prettier --write

Paralelise build script with npm-run-all
  package-lock.json
  package.json
Due: prettier --write

Install JSS because of peer to Stylegudist
  package.json
Due: prettier --write

Add repository to package.json
  package.json
Due: prettier --write

Remove Now
  .gitignore
  now.json
  package.json
  styleguide.config.js
Due: yarn lint --format, prettier --write

Install JSS as a peer dependency
  package.json
Due: prettier --write

Add a repository field to package.json
  package.json
Due: prettier --write

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
