Repository oacore/design: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Simplify Icon component
  src/assets/icons/cite.svg
  src/assets/icons/core-symbol.svg
  src/assets/icons/download.svg
  src/assets/icons/left-arrow.svg
  src/assets/icons/outline.svg
  src/assets/icons/paper-info.svg
  src/assets/icons/print.svg
  src/assets/icons/right-arrow.svg
  src/assets/icons/rotate.svg
  src/assets/icons/share.svg
  src/assets/icons/thumbnails.svg
  src/assets/icons/zoom-in.svg
  src/assets/icons/zoom-out.svg
  src/components/icon/Icon.md
  src/components/icon/README.md
  src/components/icon/index.jsx
  styleguide.config.js
Due: yarn lint --format

Paralelise build script with npm-run-all
  package-lock.json
  package.json
Due: prettier --write

Clean before build
  package.json
Due: prettier --write

Build SVG files
  package.json
Due: prettier --write

Install JSS as a peer dependency
  package.json
Due: prettier --write

Set SVG sprite building
  package-lock.json
  package.json
Due: prettier --write

Add a repository field to package.json
  package.json
Due: prettier --write

Remove Now
  .gitignore
  now.json
  package.json
  styleguide.config.js
Due: yarn lint --format, prettier --write

Setup PostCSS environment
  package-lock.json
  package.json
  postcss.config.js
  src/foundation/variables.css
Due: yarn lint --format, prettier --write

Setup Stylelint
  .prettierrc.yml
  .stylelintrc.yml
  package-lock.json
  package.json
  src/foundation/variables.css
Due: prettier --write

Fix PostCSS glob passing
  package.json
Due: prettier --write

Use SVG-sprite in Icon component examples
  src/components/icon/README.md
Due: none

Configure React Styleguidist, remove Webpack
  package.json
  src/components/icon/index.jsx
  styleguide.config.js
  webpack.config.js
Due: yarn lint --format, prettier --write

Add @extend rule support
  package-lock.json
  package.json
  postcss.config.js
Due: yarn lint --format, prettier --write

Fix lint-staged scripts
  .lintstagedrc
Due: none

Add CSS Modules support to Stylelint
  .stylelintrc.yml
  package-lock.json
  package.json
Due: prettier --write

Port Bootstrap Reboot and typography
  src/foundation/index.css
  src/foundation/reboot.css
  src/foundation/type.css
  src/foundation/variables.css
  src/index.css
Due: prettier --write

Disable PostCSS SCSS syntax and inline comments
  package-lock.json
  package.json
  postcss.config.js
Due: yarn lint --format, prettier --write

Split Bootstrap Reboot from normalize.css
  package-lock.json
  package.json
  postcss.config.js
  src/foundation/colors.css
  src/foundation/index.css
  src/foundation/reboot.css
  src/foundation/spacing.css
  src/foundation/type.css
  src/foundation/variables.css
Due: yarn lint --format, prettier --write

Add .npmrc to repository
  .npmrc
Due: none

Use @oacore/eslint-config-react
  .eslintrc.yml
  package-lock.json
  package.json
Due: prettier --write

Use @oacore/prettier-config
  .prettierrc.js
  .prettierrc.yml
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Add lint command for json files
  package.json
Due: prettier --write

Remove unused packages
  package-lock.json
  package.json
Due: prettier --write

Use NPM_TOKEN in Github Actions
  .github/workflows/publish-package.yml
  .github/workflows/pull-request-check.yml
Due: none

Use NPM token in now.sh deployment
  now.json
Due: prettier --write

Add @babel/plugin-proposal-class-properties
  babel.config.js
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Add classNames utility
  package.json
  src/utils/class-names.js
  src/utils/index.js
Due: yarn lint --format, prettier --write

Add an alias for utils
  babel.config.js
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Add Heading and explain its foundations
  src/elements/heading.jsx
  src/elements/heading.md
  src/elements/index.js
  src/foundation/README.md
  src/index.js
  styleguide.config.js
Due: yarn lint --format

Change build directory to lib
  .gitignore
  package.json
  styleguide.config.js
Due: yarn lint --format, prettier --write

Fix components font family in docs
  styleguide.config.js
Due: yarn lint --format

Bump version 0.0.2
  package-lock.json
  package.json
Due: prettier --write

Add new set of icons
  src/assets/icons/data.svg
  src/assets/icons/overview.svg
  src/assets/icons/plugins.svg
  src/assets/icons/settings.svg
  src/assets/icons/statistics.svg
Due: none

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
